$red: #ff0000; //error color
$blue: #0088ff; //theme color
$light_blue: rgba(0, 136, 255, 0.7); //light blue use in right part of login form
$black: #000000; //background color
$light_grey: #FFFFFF33; 
$white: #FFFFFF; // theme color
$light_black: #4F515B; //use in heading
$light_black_2: #626C72; //use in paragraph
$dark_grey: #29292D; //use in icon
$light_silver: #F1F1F1; // use in background of input field